.numPad{
    display: grid;
    justify-content: stretch;
    width: 25vw;
    height: 25vw;
    margin: auto;
    border: 5px solid red;
}
.numbutton{
    display: block;
    color: blue;
    width: 25px;
    height: 25px;
    margin: auto;
    
}